<html lang="en">
    <head>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
        <script type="text/javascript">
        
        
        </script>
    </head>

    <body>

      <!-- Navbar -->
        <nav class="navbar navbar-expand-lg p-3 mb-2 bg-dark" style="color: white;">
            <div class="container-fluid">
                <a class="navbar-brand" href="" style="color: white;">
                <a href="/index"><img src="../assets/main-logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> </a>
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">

              </div>
            </div>
          </nav>

      <!-- Info -->
        <div class="container">
          <div class="row">

            <!-- Center column -->

            <center>

              <div class="col-sm">
                <!-- Card -->
                <div class="card" style="width: 35rem;">
                  
                  <div class="card-body">
                    <h5 class="card-title">Social Media </h5>
                    <div>
                      <a href="https://twitter.com/RalphEmperadooo" class="card-text"> <img class="card-img-top" src="../assets/twitter.png" style="width: 4rem; margin-top: 1rem;"> </a>
                    </div>
                      
                    <div>
                      <a href="https://www.instagram.com/ralphemperado/" class="card-text"> <img class="card-img-top" src="../assets/insta.png" style="width: 4rem; margin-top: 1rem;"> </a>
                    </div>

                    <div>
                      <a href="https://github.com/RalphEmperado/GitDemo1" class="card-text"> <img class="card-img-top" src="../assets/github.png" style="width: 3rem; margin-top: 1rem;"> </a>
                    </div>
                      
                    <div>
                      <a href="https://www.facebook.com/raffemperado/" class="card-text"> <img class="card-img-top" src="../assets/fb.png" style="width: 5rem; margin-top: 0.5rem;"> </a>
                    </div>
                      
                  </div>
                </div>
              </div>

            </center>

          </div>
        </div>

        <div>
          <center>

            <!-- Select Region-->
              <div>
                <form method="POST" action="/detect">
                <select name="Area" class="form-select form-select-sm" style="margin-top: 3rem; width: 10rem">
                    <option selected>Timezone</option>
                    <option value="America/New_York">New York</option>
                    <option value="Australia/Sydney">Australia</option>
                    <option value="Asia/Manila">Philippines</option>
                    <option value="Europe/Belgrade">Serbia</option>
                    <option value="Pacific/Guam">Guam</option>
                </select>
            <!-- Join button-->
              <button class="btn btn-primary" style="margin-top: 15px;" type="submit">JOIN</button>
            </form>
          </div>

          </center>

          

        </div>
        


        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </body>
</html>